# Ignore conda folders
.conda_envs/
.conda_pkgs/

# Ignore caches
*cache*

# Ignore results folder
results/

# Ignore plots folder
plots/

# Ignore environment yml files
env.yml

# Ignore document files
*.odt

# Ignore bash scripts
*.sh
